<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"></section>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <!--
    <section name="MsmqSubscriptionStorageConfig" type="NServiceBus.Config.MsmqSubscriptionStorageConfig, NServiceBus.Core" />
    -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Test" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=JOliverEventstoreTest;Integrated Security=SSPI;Pooling=False" />
  </connectionStrings>
  <MsmqTransportConfig NumberOfWorkerThreads="1" MaxRetries="5" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="errorservicebus" />
  <!--
  <MsmqSubscriptionStorageConfig Queue="JOliverEventStoreTest.subscriptions" />
  -->
  <!--
  <unicastbusconfig >
    <MessageEndpointMappings>
      <add messages="JOliverEventStoreTest.TestDomainMessage" Endpoint="JOliverEventStoreTest"></add>
    </MessageEndpointMappings>
  </unicastbusconfig>
  -->
  <UnicastBusConfig ForwardReceivedMessagesTo="AuditQueue">
    <MessageEndpointMappings>
      <!--
    http://support.nservicebus.com/customer/portal/articles/862387-how-do-i-specify-to-which-destination-a-message-will-be-sent-
    -->
      <add Messages="JOliverEventStoreTest" Endpoint="JOliverEventStoreTest"></add>
      <add Namespace="NServiceBus.Scheduling.Messages" Assembly="NServiceBus.Core" Endpoint="JOliverEventStoreTest"></add>
    </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>